
/* Codigo generico header y footer */

/* Reseteo de márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 35px;
    height: 35px;
}

header {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.nav-links {
    align-content: center;   
    
}

.lista_nav {
    display: flex;
    list-style: none;
    gap: 40px;
    align-content: center;
    justify-self: center;
    text-decoration: none;
}

.lista_nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.lista_nav li a:hover {
    transform: scale(1.08);
    font-size: 16px;
    filter: drop-shadow(2px 4px 6px black);
}

footer {
    padding: 3px;
    background-color: white;
    align-items: center;
    font-weight: bold;
    border-top: 2px solid black;
}

.footer-icons {
    display: flex; 
    gap: 25px;
    list-style: none;
}                   

.logo-footer {
    width: 25px; 
    height: 25px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5)); 
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; 
    cursor: pointer; 
}

.logo-footer:hover {
    transform: scale(1.08);
    filter: drop-shadow(3px 5px 8px rgba(0, 0, 0, 0.7));
}

