<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Gestion Asignaciones</title>
    <link rel="stylesheet" href="../css/Asignaciones.css">
</head>
<body>

    <header>        
        <nav>
            <div class="logo-container"> 
                <a href="https://github.com/JemersonRodriguez">
                    <img style="filter: drop-shadow(2px 4px 6px black);" class="logo" src="../images/git-icon.svg" alt="Logo Image">
                </a>
                <h4 style="filter: drop-shadow(2px 4px 6px black);">Sistema Gestion UCR Siquirres</h4>
            </div>
            <div class="nav-links">
                <ul class="lista_nav">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Aulas</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div class="main-content-asignaciones">
            <form class="main-form-cursos" action="">

                <h4>Gestion de Asignaciones</h4>

                <label for="curso_opciones">Curso</label>
                <select name="curso_opciones" id="curso_opciones">
                    <option value="">Opcion 1</option>
                    <option value="">Opcion 2</option>
                </select>

                <label for="aula_opciones">Aula</label>
                <select name="aula_opciones" id="aula_opciones">
                    <option value="">Aula 1</option>
                    <option value="">Aula 2</option>
                </select>

                <label for="">Dia</label>
                <input type="date">

                <label for="">Hora</label>
                <input type="time">

                <label for="">Duracion</label>
                <input type="number">

                <button>Ingresar</button>
                <button style="background-color: bisque; color: black; font-weight: bold;">Ver Lista</button>

            </form>
        </div>


    </main>

    <footer style="display: flex; gap: 10px; justify-content: space-around;">
        <div class="footer-content-information-personal"><span style="filter: drop-shadow(2px 4px 6px black);">Creado por Jemerson Rodriguez | UCR | 2025</span></h4></div>
        <div class="footer-content-informacion-contacto">
          <ul class="footer-icons">
             <li>
                 <a href="https://github.com/JemersonRodriguez">
                     <img class="logo-footer" src="../images/git-icon.svg" alt="Logo Image">
                 </a>
             </li>
             <li>
                 <a href="https://github.com/JemersonRodriguez">
                     <img class="logo-footer" src="../images/linkedin-icon.svg" alt="Logo Image">
                 </a>
             </li>
             <li>
                 <a href="https://github.com/">
                     <img class="logo-footer" src="../images/whatsaap-icon.svg" alt="Logo Image">
                 </a>
             </li>
         </ul>
        </div>
    </footer>
    
</body>
</html>